body {
     min-height: 100vh;
    background: url('../images/arcade-clipart-arcade-screen-11\ copy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
    color: yellow;
   
  
}


.container {
     margin-top: 270px;
    height: 385px;
    width: 510px;
}

.text-center {
    margin-top: 30px;
}
.my-game {
    margin-top: 30px;
}
.play {
    color: yellow;
}

@media screen and (max-width: 980px) {
    body{
             min-height: 100vh;
   

    }
  
    
}