body {
     min-height: 100vh;
    background: url(../images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
.container {
    background-color: lightskyblue;
}